In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
dataset = pd.read_csv('tips.csv')

In [16]:
dataset.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [17]:
min_r = dataset['total_bill'].min()
max_r = dataset['total_bill'].max()

In [18]:
min_r, max_r

(3.07, 50.81)

In [19]:
range = max_r - min_r

In [20]:
range

47.74